
.App, header, footer, div{
  text-align: center;
}

header {
  margin: 50px 15%;
  background-color: beige;
  height: 100px;
  line-height: 100px;
}

h1 {
  font-family: 'VT323', monospace;
  color: rgb(10, 114, 53);
  font-size: 50px;
}

button {
  margin-right: 3px;
  border-radius: 30px;
  padding: 10px;
}

button:focus {
  outline: none;
}

h3 {
  margin: 0px 45% 20px;
  background-color: black;
  color: rgb(14, 153, 72);
  font-size: 50px;
  font-family: 'VT323', monospace;
}

.reset {
  color: white;
  font-weight: bolder;
  padding: 15px;
  background-color: red;
}

footer {
  margin: 50px 15%;
  background-color: beige;
  height: 70px;
  line-height: 70px;
}